*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

html {
    font-size: 16px;
}

h1 {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin: 1rem auto;
    height: auto;
    width: min-content;
}

.link {
    padding: 5px;
    margin: 5px;
    color: inherit;
    text-decoration: none;
    display: block;
}

.link:hover {
    color: #ff0000;
    font-size: 2rem;
    font-weight: bold;
}

li, p, ul, ol {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
}

h2 {
    padding: 0.5rem;
    margin: 0.5rem 0;
}